h4 {
    margin-top: 10px;
    text-align: center;
    font-size:50px;
}
.poke-selection {
    text-align: center;
    margin-top: 10px;
}

.btn-outline-primary{
    color: #fff;
    background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
    border: none;
    border-radius: 50px;
}
    .btn-outline-primary:focus{
    color: #fff;
    box-shadow: none;
    border: none;
}
    .btn-outline-primary:hover{
    color: #fff;
    box-shadow: none;
    border: none;
}