# requirements for fastapi and jinja2
starlette
uvicorn

pydantic

fastapi[standard]
fastapi-login

jinja2

# internally used by fastapi
python-multipart

# requirements for Testing FastAPI
httpx
pytest
pytest-mock
pytest-docker
testcontainers

# PokeAPI wrapper
pokebase

# PostgresDB Connection wrapper
psycopg2-binary

# dotenv for local testing
python-dotenv

# jwt
python-jose[cryptography]