# requirements for fastapi and jinja2
starlette
uvicorn

pydantic

fastapi[standard]
fastapi-login

jinja2

# requirements for Testing FastAPI
httpx
pytest

# PokeAPI wrapper
pokebase

# PostgresDB Connection wrapper
psycopg2-binary

# dotenv for local testing
python-dotenv